<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <h2>name: <%= RESTAURANT.name %></h2>
  <h2>address: <%= RESTAURANT.address %></h2>
  <h2>phone: <%= RESTAURANT.phone %></h2>
</body>
</html>
